<mat-card *ngFor="let season of seasons" class="season-card mat-elevation-z10">
  <mat-card-header>
    <mat-card-title>{{ season.description }}</mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="season.imageUrl" />

  <mat-card-content>
    <p>{{ season.longDescription }}</p>
  </mat-card-content>

  <mat-card-actions class="seasob-actions">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/seasons', season.url]"
    >
      VIEW
    </button>

    <button mat-mini-fab color="primary">
      <mat-icon class="add-season-btn" (click)="editSeason(season)"
        >edit</mat-icon
      >
    </button>

    <button mat-mini-fab color="basic">
      <mat-icon class="add-season-btn" (click)="onDeleteSeason(season)"
        >delete</mat-icon
      >
    </button>
  </mat-card-actions>
</mat-card>
